<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Kittens", root_path, id: "logo" %>
    <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Kittens", kittens_path %></li>      
      <li><%= link_to "Create", new_kitten_url %></li>
    </ul>
    </nav>
  </div>
</header>   